.projects {
  display: grid;
  row-gap: 2rem;
  grid-template-areas:
    "header"
    "project";
  justify-content: center;
}

.projects_title {
  grid-area: header;
  position: relative;
  margin: 0 auto;
  width: fit-content;
  font-family: var(--ff-main);
  font-size: 3rem;
}
.projects_title::after {
  content: "";
  position: absolute;
  bottom: -0.2em;
  left: -25%;
  height: 0.125em;
  width: 150%;
  background-color: black;
}

.project {
  width: 60rem;
  display: grid;
  grid-area: project;
  column-gap: 2rem;
  grid-template-areas:
    "h2 p"
    "img p";
  align-items: center;
}

.project_title {
  font-size: 2.5rem;
  font-family: var(--ff-main);
  grid-area: h2;
}

.project_description {
  font-family: var(--ff-main);
  font-size: 2rem;
  max-width: 50ch;
  grid-area: p;
}

.project_img {
  grid-area: img;
}
