:root {
  --clr-navbar: rgb(201, 241, 253);
  --clr-navbar-icons: black;
  --clr-about: rgb(0, 79, 46);
  --clr-light: #fff;
  --clr-projects-bg: rgb(199, 242, 252);
  --clr-footer-bg: rgb(80, 193, 221);

  --ff-main: sans-serif;
  --ff-navbar-icons: sans-serif;

  --fs-contact-link: 1.5rem;
  --fs-title: 2.8rem;
  --fs-title-discription: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.about_artem {
  padding-inline: 2%;
  padding-block: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--ff-main);
  background: var(--clr-about);
}

.about_artem img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.title,
.title_description {
  color: var(--clr-light);
}

.title {
  font-size: var(--fs-title);
}

.title_description {
  font-size: var(--fs-title-discription);
}

#prog_container {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 1em;
}

.prog_lang {
  background-color: yellow;
  padding: 0.11em;
  font-size: 1.3rem;
  font-weight: 600;
}

#contact {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  color: var(--clr-light);
}

#contact a {
  margin-left: 0.3em;
  text-decoration: none;
  font-weight: 500;
  color: var(--clr-light);
  font-size: var(--fs-contact-link);
  font-family: var(--ff-main);
}

.welcome {
  margin-top: 1rem;
  max-width: 34ch;
  color: var(--clr-light);
  font-size: var(--fs-title-discription);
}

main {
  padding-block: 2rem;
  padding-inline: 2%;
  background-color: var(--clr-projects-bg);
}

@media (min-width: 800px) {
}
