.container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    border: 2px solid darkblue;
    border-radius: 0.5em;
    padding: 1rem;
    h3 {
        text-align: center;
        position: relative;
        margin-bottom: 1rem;
        &::after {
            content: '';
            position: absolute;
            bottom: -6px;
            left: 50%;
            transform: translateX(-50%);
            width: 80%;
            height: 3px;
            background: black;
        }
    }
    .form {
        background: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 0.5em;
        border: 2px solid darkblue;
        padding: 1rem;
        input {
            font-size: 1.2rem;
            align-self: flex-start;
            border: 2px solid darkblue;
        }
        label {
            align-self: flex-start;
        }
    }
    .btn_container {
        display: flex;
        align-items: center;
        margin: 0 auto;
    }
    .checkbox {
        width: 1.5rem;
        height: 1.5rem;
    }
    .btn {
        width: 10rem;
    }
}