main {
    width: max-content;
    margin: 10vh auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

.employees {
    border-bottom: 2px solid #009879;
    text-align: center;
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 400px;
}

.employees tr:first-child {
    background: #009879;
    color: white;
    text-align: left;
    font-weight: bold;
}

.employees td,
.employees th {
    padding: 12px 15px;
}

.employees tr:not(:first-child):nth-of-type(odd) {
    background: #e7e7e7;
}

.employees tr:not(:first-child):hover {
    cursor: pointer;
    background: rgb(122, 120, 120);
    color: white;
}

.selected {
    border-left: 0.5rem solid black;
}

.selected input {
    font-size: 2rem;
}

.selectedEmployee input {
    font-size: 1.2rem;
}