<div class="container" *ngFor="let employee of selectedEmployee">
    <h2>{{employee.fname | uppercase}} {{employee.lname | uppercase}}</h2>
    <div>id: {{employee.id}} </div>
    <div>Date of birth: {{employee.dateofbirth}}</div>

    <form class="form">
        <label for="employee-fname">Firstname: </label>
        <input id="employee-fname" [(ngModel)]="employee.fname" placeholder="fname" name="fname">

        <label for="employee-lname">Lastname: </label>
        <input id="employee-lname" [(ngModel)]="employee.lname" placeholder="lname" name="lname">

        <label for="employee-email">Email:</label>
        <input id="employee-employee" [(ngModel)]="employee.email" placeholder="email" name="email">

        <label for="employee-salary">Salary</label>
        <input id="employee-employee" [(ngModel)]="employee.salary" placeholder="salary" name="salary">
    </form>


</div>
<button class="btn" (click)="endEditEmployee()">Save</button>