<div class="container">

    <form class="form" *ngFor="let employee of selectedEmployee">
        <div class="info">
            <h3>{{employee.fname | uppercase}} {{employee.lname | uppercase}}</h3>
            <p>id: {{employee.id}} </p>
            <p>Date of birth: {{employee.dateofbirth}}</p>
        </div>
        <label for="fname">Firstname: </label>
        <input [(ngModel)]="employee.fname" placeholder="fname" name="fname">

        <label for="lname">Lastname: </label>
        <input [(ngModel)]="employee.lname" placeholder="lname" name="lname">

        <label for="email">Email:</label>
        <input [(ngModel)]="employee.email" placeholder="email" name="email">

        <label for="salary">Salary</label>
        <input [(ngModel)]="employee.salary" placeholder="salary" name="salary">


        <div class="btn_container">
            <label for="topEmployee">Top Employee?</label>
            <input [checked]="employee.topEmployee" class="checkbox" (click)="topEmployee(employee)" type="checkbox" name="topEmployee">
            <button class="btn" (click)="endEditEmployee()">Save</button>
            <button class="btn" (click)="createMessage()">Send Message</button>
        </div>

        <app-sendmail (endEmail)="createMessage()" *ngIf="status" [employee]=employee></app-sendmail>
    </form>
</div>
