* {
    margin: 0;
    border: 0;
}

body{
    background-color: #ccc;
}

#game {
    position: relative;
    width: 500px;
    height: 200px;
    border: 2px solid black;
}

#score { 
    width: 12rem;
    position:absolute;
    left: calc(50% - 6rem);
}

#character {
    position: relative;
    top: calc(100% - 50px); 
    width: 20px;
    height: 50px;
    background-color: black;

}

.animate_character {
    animation: character 500ms;
}

@keyframes character {
    0% { top: calc(100% - 50px); }
    30% { top: calc(100% - 100px); }
    70% { top: calc(100% - 100px); }
    100% { top: calc(100% - 50px); }
}

#block {
    background-color: blue;
    width: 20px;
    height: 20px;
    position: relative;
    top: 130px;
    left: 480px;
}

.animate_block {
    animation: block 1s infinite linear;
}

@keyframes block {
    0%{left: 500px}
    100%{left: -20px}
}