body {
  background-color: #ccc;
}

#popCont {
  position: relative;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 10rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
}

header::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

#birthdate {
  display: none;
}

#food {
  display: none;
}
