@import "../../global.scss";

.navbar {
    overflow-y: hidden;
    height: 70px;
    width: 100vw;
    position: fixed;
    top: 0;
    background: #fff;
    color: $maincolor;
    z-index: 1000;

    display: flex;
    padding-inline:2rem;
    justify-content: space-between;
    align-items: center;
    
    .logo {
        font-size: 40px;
        font-weight: 700;
        text-decoration: none;
        color: inherit;
    }

    .btn_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        button {
            box-sizing: content-box;
            cursor: pointer;
            color: inherit;
            padding-block: 25px;
            background: inherit;
            border: none;
            outline: none;
        }
        button:hover {
            border-bottom: 2px solid black;
        }
    }


    .hamburger {
        width: 32px;
        height: 25px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;

        span {
            border-radius: 2em;
            width: 100%;
            height: 20%;
            background: $maincolor;
            transition: all 2s ease;
        }
    }

    &.active{
        background: $maincolor;
        color: #fff;

        button:hover {
            border-bottom: 2px solid #fff;
        }

        .hamburger {
            span {
                &:first-child
                {
                    background: #fff;
                    transform: rotate(42deg);
                    transform-origin: left;
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:last-child {
                    background: #fff;
                    transform: rotate(-42deg);
                    transform-origin: left;
                }
            }
        }
    }
}