:root {
    --clr-main: #ccc;
    --clr-navbar: rgb(24, 24, 24);
    --clr-header: rgb(41, 41, 41);
    --ff-main: sans-serif;
    --fs-headers: 3rem;
    --fs-main: 2rem;
    --fs-welcome-p: 1.5rem;
    --fs-section-header: 8rem;
    --fw-section-header: 100;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-main);
    background-color: var(--clr-header);
    color: var(--clr-main);
    line-height: 1.6;
    position: relative;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--clr-navbar);
}

.navbar ul{
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    flex-wrap: 1;
    margin: 0 auto;

    text-align: center;
    max-width: 80%;
    list-style: none;
}

.navbar li {
    flex-grow: 1;
    padding-block: 1rem;
}

.navbar li:hover {
    cursor: pointer;
    border-bottom: 2px solid var(--clr-main);
}

.navbar a {
    font-family: var(--ff-main);
    font-size: var(--fs-main);
    text-decoration: none;
    color: white;
}

.welcome {
    padding-inline: 2%;
    padding-top: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: vaR(--ff-main);
}

.welcome_img{
    text-align: center;
}

.welcome_img  img{
    border-radius: 50%;
    width: 50%;
}

.welcome_title_wrapper{
    text-align: center;    font-size: var(--fs-headers);
}

.welcome_intro {
    text-align: start;
    max-width: 50ch;
    margin-block: 4%;
    font-size: var(--fs-welcome-p);
}

.category_title {
    position: relative;
    font-size: var(--fs-section-header);
    font-weight: var(--fw-section-header);
}

.category_title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 5em;
    height: 0.05em;
    background-color: white;
}

.category_preview {
    padding-top: 1.5em;
    font-size: var(--fs-main);
}

.about p {
    max-width: 60ch;
}

footer {
    
}