.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.employeeSelector {
    cursor: pointer;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 2rem;
    margin: 0.05rem auto;
    background: #fff;
    p {
        width: 90%;
        text-align: left;
        font-weight: 500;
        font-size: 1.2rem;
        margin-block: auto;
    }
    &:hover {
        background: darkblue;
        color: #fff;
    }
}
