@import "../../global.scss";

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 2rem;
    }
    ul {
        margin: 10px;
        padding: 0;
        list-style: none;
        display: flex;

        li {
            font-size: 1.4rem;
            margin-right: 3rem;
            padding: 0.5em;
            border-radius: 0.4em;
            cursor: pointer;
            &.active {
                background: $maincolor;
                color: #fff;
            }
        }
    }
    .container {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .item {
            width: 15rem;
            position: relative;
            border-radius: 1.9em;
            img {
                width: 100%;
                height: 100%;
            }
            .description {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                color: white;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                z-index: 2;
                opacity: 0;
                transition: all 0.4s ease;

                &:hover {
                    opacity: 1;
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    background: black;
                    opacity: 0.5;
                    z-index: -1;
                }
            }
        }
    }
}