/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: #ccc;
}

body {
    height: 100vh;
}

.btn {
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0.5em 1em;
    margin: 0.2em;
    border-radius: 0.5em;
    outline: none;
    border: 1px soild black;
}

.btn:hover {
    color: #fff;
    background: darkblue;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
